@{
    ViewBag.Title = "Ice Cold Apps";
}

<div class="jumbotron">
    <h1>Steve's App</h1>
    <p class="lead">Steve's App is smooth like an ice cold beer after a hard day at work.</p>
    <p><a href="https://www.pexels.com/photo/clear-glass-mug-filled-with-yellow-liquid-1672304/" class="btn btn-primary btn-lg">Wow, that sounds great! Please tell me more! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Using Our App</h2>
        <p>
            Instructions about how to use Steve's Awesome App can be found here.
        </p>
        <p><a class="btn btn-default" href="https://www.pexels.com/photo/two-persons-holding-drinking-glasses-filled-with-beer-1089930/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Another Blurb & Button</h2>
        <p>Wow, this app has buttons on the home page!</p>
        <p><a class="btn btn-default" href="https://www.pexels.com/photo/photo-of-glass-overflowing-with-beer-1323593/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Are You Counting?</h2>
        <p>That's a total of <span style="font-style:italic">FOUR</span> buttons, WOW!  </p>
        <p><a class="btn btn-default" href="https://www.pexels.com/photo/close-up-photo-of-alcoholic-beverage-1624172/">Learn more &raquo;</a></p>
    </div>
</div>